.table {
    display: table;
    width: 100%;

    .table-header {
        display: table-header-group;
        width: 100%;

        .table-row .table-cell {
            font-weight: bold;
        }
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;

        &:first-child {
            width: 50px;
        }
    }

    .table-body {
        display: table-row-group;
        width: 100%;
    }
}
